body {
    background: linear-gradient(to bottom, #fef6e4, #eae2d6);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    font-family: 'Noto Sans Jp', sans-serif;
    color: #333;
    text-align: center;
}

.yuji-boku-regular {
  font-family: "Yuji Boku", serif;
  font-weight: 400;
  font-style: normal;
}


.container {
    display: flex;
    flex-direction: column;
    max-width: 50vw;
    margin: 0 auto;
    text-align: center;
}

h1 {
    display: flex;
    align-items: center;
    font-size: 2.5rem;
    font-family: "Yuji Boku", serif;
    color: #b90048;
    &::before,&::after {
        content: "";
        height: 1px;
        flex-grow: 1;
        background-color: #b90048;
      }
      &::before {
        margin-right: 1rem;
      }
      &::after {
        margin-left: 1rem;
      }

}

.omikuji-img,
.result-img {
    width: 50%;
    max-width: 400px;
    height: auto;
    display: block;
    margin: 20px auto;
    /*transition: transform 0.3s ease;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    background-color: white;
    border-radius: 8px;
    padding: 8px;*/
}

.omikuji-img:hover {
    transform: rotate(-3deg) scale(1.02);
}

button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #f77f00;
    color: white;
    border: none;
    border-radius: 8px;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.2);
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

button:hover{
    background-color: #d65a00;
    transform: scale(1.05);
}



/* スマホ用 */
@media (max-width: 600px) {
    body {
        background: linear-gradient(to bottom, #f0e0d0, #d8c8b8);
    }

  .container {
    max-width: 95vw;
    padding: 0 10px;
}

.omikuji-img,
.result-img {
    width: 90%;
    max-width: 300px;
}

h1 {
    font-size: 2rem;
}

button{
    width: 100%;
    font-size: 1.1rem;
    padding: 14px 20px;
}

}
