<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8" />
        <title>おみくじ</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Yuji+Boku&display=swap" rel="stylesheet">
    </head>
    
    <body>
        <div class="container">
            <h1>おみくじアプリ</h1>
            <img src="{{ url_for('static', filename='images/omikuji.png') }}" alt="おみくじ" class="omikuji-img">
             <a href="{{ url_for('omikuji') }}">
            <button>おみくじを引く！</button>
            </a>
        </div>
    </body>
</html>